<header class="navbar navbar-default navbar-fixed-top navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3"
                    ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="#">App</a>
            </div>
            <nav class="hidden-xs">
                <ul class="nav navbar-nav">
                    <a href="#" role="button" class="navbar-brand">
                       App 
                    </a>
                    <li><a role="button" ui-sref="about">About</a></li>
                    <li class="dropdown" uib-dropdown="">
                        <a role="button" class="dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true"
                            aria-expanded="false">
                            Search <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="dropdown in navbarTop.dropdowns"><a ui-sref="{{dropdown.sref}}">{{dropdown.name}}</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        <span class="pull-right">{{appVersion}}</span>
        </div>
    </header>